# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv
venv/
.venv/
*.venv

# Django
*.sqlite3
*.db
*.log

# Environment files
.env
*.env

# macOS
.DS_Store

# Git
*.gitignore

**/migrations/*.py
!**/migrations/__init__.py

.python-version
*.rdb
*.pem