{% extends 'dashboard/base.html' %} {% load static %} {% block title %}
<title>Dictionary</title>
{% endblock %}
<link rel="stylesheet" href="{% static 'dictionary/css/style.css' %}" />
{% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Dictionary
      </h6>
      <h1 class="mb-5">Search for any word</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow">
          <div class="card-body">
            <!-- Audio element for pronunciation -->
            <audio id="sound"></audio>

            <!-- Search Box -->
            <div class="mb-4">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control py-3"
                  placeholder="Type the word here..."
                  id="inp-word"
                />
                <button class="btn btn-primary px-4" id="search-btn">
                  <i class="fas fa-search me-2"></i>Search
                </button>
              </div>
            </div>

            <!-- Result Area -->
            <div class="result mt-4" id="result">
              <!-- Results will be displayed here via JavaScript -->
              
            </div>
          </div>
        </div>
      </div>
      <div class="add-flashcard mt-4 col-lg-8">
        <h5 class="text-primary mb-3">Tạo Flashcard:</h5>
        <form id="add-flashcard-form">
            <input type="hidden" id="flashcard-question" name="word" />
            <input type="hidden" id="flashcard-answer" name="meaning" />
            <div class="mb-3">
                <label for="category-select" class="form-label">Chọn Category:</label>
                <select id="category-select" name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Tạo Flashcard</button>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Script -->
<script src="{% static 'dictionary/js/script.js' %}"></script>
{% endblock %}
